# Required packages for development environment
# If you just want just to use the script, then the setup.py install will do everything for you
requests==2.20.0
splinter
selenium
docopt==0.6.2
ipython
twine==3.1.1
pyinstaller
pandoc
wheel
setuptools-markdown
